* {
    box-sizing: border-box;
}

li {
    list-style-type: none;
    /* Убираем маркеры */
}

.custom-select {
    padding: 0;
    margin: 0;
    width: 100px;
}

.select {
    padding: 0;
    margin: 0;
    width: 100%;

    display: block;

    border: 1px solid gray;
    border-radius: 4px;
    background: fff;
}
.options-list-wrapper {
    
}

.option-list {
    padding: 0;
    margin: 0;
    width: 100%;

    border: 1px solid gray;
    border-radius: 4px;
    background: fff;

    overflow: hidden;
}

.option-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
}

.option {
    padding: 0;
    margin: 0;
    width: 100%;

    display: block;

    border: none;
    border-radius: none;
}